# OS and IDE files
.DS_Store
.idea/
.vscode/
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
dist/
build/
out/
*.dmg
*.zip
*.tar.gz

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
log/
logs/
*.log

# Test files
*.spec.js
*.test.js
__tests__/

# Dependency lock files
yarn.lock
package-lock.json